@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.contacts {
  height: 80vh;
  background-color: $bgColor;
  border-top: 1px solid $borderColor;

  .block {
    flex-direction: column;
    @include container();
    justify-content: flex-start;

    .contactFormBlock {
      height: 70%;

      .contactForm {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        justify-content: space-evenly;

        .inputBlock {
          width: 70%;
          height: 30px;
        }

        .errorMessage {
          @include text ($fontMain, 20px, red);
        }

        input, textarea {
          width: 100%;
        }

        @media screen and (max-width: 560px) {
          width: 100%;
        }
      }
    }
  }
}

