@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.contacts {
  height: 80vh;
  background-color: $bgColor;
  border-top: 1px solid $borderColor;

  .block {
    flex-direction: column;
    @include container();
    justify-content: flex-start;

    .contactFormBlock {
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .contactForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin: 100px auto 150px;


        /*height: 100%;
        justify-content: space-evenly;*/

        .inputBlock {
          width: 100%;
          height: 40px;
          margin-bottom: 24px;
          padding: 5px 10px;
        }

        .errorMessage {
          @include text ($fontMain, 20px, red);
        }

        input, textarea {
          width: 100%;
        }

        @media screen and (max-width: 560px) {
          width: 100%;
        }
      }
    }
  }
}

