@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.footer {
    height:10vh;
    border-top: 1px solid $borderColor;
    background-color: $bgColor;
    padding-top: 30px;
    padding-bottom: 30px;
    .block {
        text-align: center;
        border: 1px solid $borderColor;
        width: 80%;
        margin: 0 auto;
        span {
            color: $borderColor;
        }
    }
}



