@import "../common/styles/sass/variables";
@import '../common/styles/sass/mixins';

.achievementsBlock {
  min-height: 90vh;
  background-color: $bgColor;
  border-top: 1px solid $borderColor;
  .achievementsContainer {
    flex-direction: column;
    justify-content: flex-start;
    @include container();
    .achievements {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}


