@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.footer {
    height:10vh;
    background-color: $bgColor;
    border: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    .block {
        text-align: center;
        border: 1px solid;
        width: 80%;
        margin: 0 auto;
    }
}



